lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
pids
logs
results
npm-debug.log
iisnode
api_key.js
api_key.json
apikey.json
node_modules
web.config
id_*
pwd.json
dbinfo.json
obj
*.njsproj
*.suo
keys
fonts
bootstrap
rhtml.cmd
html/img
temp
hidden
data
password
secret
log*.*
amazon-cache.json
img-cache.json
