<% extend 'template_base.html' %>
<% block 'article' : %>
<div property="articleBody" id="articleBody" class="container">
<%- @articleBody %>
</div>
<% end %>
<% block 'header-script' : %>
<link rel="stylesheet" href="css/main.min.css" />
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.14/require.min.js" data-main="Scripts/main.js"></script>
<script type="application/ld+json" id="jsonld">
<%- @jsonld %>
</script>
<% end %>
<% block 'nav-content' : %>
<p class="navbar-text navbar-right"><a id="homeLink" href="/" class="navbar-link"><span class="glyphicon glyphicon-home"></span>ホーム</a></p>
<script type="text/javascript">

</script>
<% end %>
<% block 'footer-content' : %>
<% end %>
<% block 'etc-content' : %>
<% end %>
