<% extend 'template_base.html' %>
<% block 'article' : %>
<div class="container">
    <section id="articles" class="row"></section>
    <aside style="margin-left:auto;margin-right:auto;display:block;">
        <style>
            .blocks {
                width: 320px;
                height: 50px;
            }

            @media(min-width: 500px) {
                .blocks {
                    width: 468px;
                    height: 60px;
                }
            }

            @media(min-width: 800px) {
                .blocks {
                    width: 728px;
                    height: 90px;
                }
            }
        </style>
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- blocks -->
        <ins class="adsbygoogle blocks"
             style="display:inline-block;text-align:center;"
             data-ad-client="ca-pub-4402137407996189"
             data-ad-slot="3288576128"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </aside>
</div>

<% end %>
<% block 'header-script' : %>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<!-- Latest compiled and minified JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/q.js/1.0.1/q.js"></script>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/d3/3.5.2/d3.js"></script>
<script type="text/javascript" src="http://www.enoie.net/scripts/youtube_apikey.js"></script>
<style>
    html {
        position: relative;
        height: 100%;
    }

    body {
        /* Margin bottom by footer height */
        margin-top: 50px;
        margin-bottom: 100px;
    }

    .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        /* Set the fixed height of the footer here */
        height: 60px;
        background-color: #f5f5f5;
    }

    div#playerObj {
        display: none;
        position: absolute;
    }
</style>
<% end %>
<% block 'nav-content' : %>
<p class="navbar-text navbar-right"><a id="homeLink" href="/" class="navbar-link"><span class="glyphicon glyphicon-home"></span>ホーム</a></p>
<% end %>
<% block 'footer-content' : %>
<% end %>
<% block 'etc-content' : %>
<div id="playerObj">
    <div id="player">
    </div>
</div>
<script type="text/javascript">
    "use strict";
    var player;
    var playerWidth = 640;
    var playerHeight = 360;
    d3.select('head').append('script').attr('src', 'http://www.youtube.com/iframe_api');
    if (window.location.href.match(/bl\.ocks\.org/i)) {
        d3.select('#homeLink').attr('href', 'http://bl.ocks.org/sfpgmr/');
    }
    function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
            width: playerWidth,
            height: playerHeight,
            playerVars: {
                'fs': 1,
                'hd': 1
            },
            events: {
                'onReady': onPlayerReady
            },
            enablejsapi: '1'
        });

        function onPlayerReady(event) {
            d3.select('#player').on('mouseleave', function () {
                player.stopVideo();
                var p = d3.select('#playerObj');
                p.style('display', 'none');
                d3.event.preventDefault();
            });
        }
    }
    var json = Q.nfbind(d3.json);
    var result = [];
    var defer = Q.defer();
    function getData(pageToken) {
        var pt = '';
        if (pageToken) {
            pt = '&pageToken=' + pageToken;
        }
        json('https://www.googleapis.com/youtube/v3/search?part=snippet&channelId=UCgwM0kBBsDRMZDhhWuTNR-g&order=date&maxResults=50' + pt + '&key=' + youtube_apikey)
        .then(function (d) {
            result = result.concat(d.items);
            if (d.nextPageToken) {
                getData(d.nextPageToken);
            } else {
                defer.resolve();
            }
        });
    }
    getData();
    defer.promise.then(function () {
        var videos = result.filter(
            function (e, i, a) {
                return e.id.kind == 'youtube#video';
            });

        var thumb = d3.select('#articles').selectAll('div')
        .data(videos)
        .enter()
        .append('div')
        .classed({ 'col-xs-6': true, 'col-md-3': true, 'col-lg-2': true })
        .append('div')
        .classed('thumbnail', true)
//            .style('height', 'px')
        .style('overflow', 'auto');


        thumb//.append('a')
            //.attr('href', function (d) { return 'https://www.youtube.com/watch?v=' + d.id.videoId; })
            //.attr('target', '_blank')
        .append('img')
        .attr('src', function (d) { return d.snippet.thumbnails.high.url; })
        .attr('alt', function (d) { return d.snippet.title; });

        thumb.on('mouseenter', function (d) {
            var o = d3.select(this);
            var rect = o.node().getBoundingClientRect();
            var p = d3.select('#playerObj');
            player.setSize(rect.width, rect.height);
            p.style('width', rect.width + 'px')
            .style('height', rect.height + 'px')
            .style('left', (rect.left + window.scrollX) + 'px')
            .style('top', (rect.top + window.scrollY) + 'px')
            .style('display', 'block');
            player.loadVideoById({ videoId: d.id.videoId });
            d3.event.preventDefault();
        });


        //var cap = thumb
        //.append('div')
        //.classed('caption', true);

        //cap.append('h4').text(function (d) { return d.snippet.title; });
        //cap.append('p').text(function (d) { return d.snippet.description; });
    });

</script>

<% end %>
