<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width">
    <link rel='stylesheet' href='/stylesheets/tumblr/style.css' />
    <script type='text/javascript' src='//ajax.aspnetcdn.com/ajax/jQuery/jquery-1.9.1.min.js'></script>
    <script type='text/javascript' src='/javascripts/tumblr/jquery.cookie.js'></script>
    <script type="text/javascript" src="/javascripts/tumblr/tumblrclient.js"></script>
<script type="text/javascript">
if (!window.location.host.match(/localhost/i))
{
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-15457703-9']);
    _gaq.push(['_trackPageview']);

    (function ()
    {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
}
</script>
  </head>
  <body>
      <header>
        <h1><%= title %></h1>
      </header>
    <nav><div id="back" class="navbtn">&lt;前</div><div id="offset"></div><div id="forward" class="navbtn">次&gt;</div>
    </nav>
     <div id="content">
     </div>
     <footer><div>Author S.F.</div></footer>
  </body>
</html>
